._.DS_Store
.DS_Store
*.crt
*.csr
*.db-journal
*.key
*.pid
*.noload
*.txt
*.sqlite
*.xml
*.backup
.uuid

phue.conf
plex.conf
*.conf
home-assistant.log
*.log
home-assistant_v2.db
*.db
known_devices.yaml
secrets.yaml
custom_components
deps
www
tts
deprecated
