zone:
  - name: Home
    latitude: !secret latitude_home
    longitude: !secret longitude_home
    radius: 150
    icon: mdi:home-map-marker

  - name: Work
    latitude: !secret latitude_work
    longitude: !secret longitude_work
    radius: 150
    icon: mdi:account-multiple

device_tracker:
  - platform: ping
    count: 3
    hosts:
      james_ping: !secret james_ip
      gillian_ping: !secret gillian_ip

    consider_home: 0:05:00
    interval_seconds: 0:03:00
    track_new_devices: true

  - platform: tado
    username: !secret tado_user
    password: !secret tado_pass
    home_id: !secret home_id

  - platform: nmap_tracker
    hosts:
      - !secret james_ip
      - !secret gillian_ip

#  - platform: asuswrt
#    host: !secret asus_ip
#    username: !secret asus_username
#    password: !secret asus_password
