zone:
  - name: Home
    latitude: !secret latitude_home
    longitude: !secret longitude_home
    radius: 150
    icon: mdi:home-map-marker

  - name: Work
    latitude: !secret latitude_work
    longitude: !secret longitude_work
    radius: 150
    icon: mdi:account-multiple

device_tracker:
  - platform: ping
    count: 5
    hosts:
      james_ping: !secret james_ip
      gillian_ping: !secret gillian_ip
    consider_home: 0:05:00
    interval_seconds: 0:00:30
    track_new_devices: true

  - platform: bluetooth_tracker

  - platform: tado
    username: !secret tado_user
    password: !secret tado_pass
    home_id: !secret home_id
